---
title: Health
description: An exploration of the risks faced by software projects
url: https://riskfirst.org
layout: post
title: Risk-First
featured: 
  class: bg1
  element: '<action>Start Here</action>'
---

	<!-- Featured
	================================================== -->
	<section class="featured-articles">
	    <div class="section-title">
	        <h2><span>Start Here!</span></h2>
	    </div>
	    <div class="row listrecent">
	    {% assign sorted_pages = site.pages | sort:"order" %}
		{% for post in sorted_pages %}
	      	{% for pc in post.categories %}
	      		{% if pc == 'Front' %}
	    		    {% include postbox.html %}
	    		{% endif %}
	    	{% endfor %}
	    {% endfor %}
	
	    </div>
	</section>

  <!-- Most Loved -->
  
  <section class="featured-articles">
      <div class="section-title">
          <h2><span>Most Popular Articles</span></h2>
      </div>
      <div class="row listrecent">
  
      {% assign sorted_pages = site.pages | sort:"order" %}
    {% for post in sorted_pages %}
          {% for pc in post.categories %}
            {% if pc == 'Popular' %}
              {% include postbox.html %}
          {% endif %}
        {% endfor %}
      {% endfor %}

   </div>
  </section>


	<!-- Articles
	================================================== -->
	
	{% assign sorted_pages = site.pages | sort: 'date' | reverse %}
	
	<section class="recent-articles">
	    <div class="section-title">
	        <h2><span>Recent Articles</span></h2>
	    </div>
	    
	    <div class="row listrecent">
		{% for post in sorted_pages %}
      {% if forloop.index < 10 %}
	    	{% include postbox.html %}
      {% endif %}    
	  {% endfor %}
	
	    </div>
	</section>
