---
layout: default
title: Home
featured: 
  class: bg1
  element: '<action>Start Here</action>'
---

<div class="container container-inner">
	    
	<!-- Featured
	================================================== -->
	<section class="featured-articles">
	    <div class="section-title">
	        <h2><span>Start Here!</span></h2>
	    </div>
	    <div class="row listrecent">
	    {% assign sorted_pages = site.pages | sort:"order" %}
		{% for post in sorted_pages %}
	      	{% for pc in post.categories %}
	      		{% if pc == 'Front' %}
	    		    {% include postbox.html %}
	    		{% endif %}
	    	{% endfor %}
	    {% endfor %}
	
	    </div>
	</section>

  <!-- Most Loved -->
  
  <section class="featured-articles">
      <div class="section-title">
          <h2><span>Most Popular Articles</span></h2>
      </div>
      <div class="row listrecent">
  
      {% assign sorted_pages = site.pages | sort:"order" %}
    {% for post in sorted_pages %}
          {% for pc in post.categories %}
            {% if pc == 'Popular' %}
              {% include postbox.html %}
          {% endif %}
        {% endfor %}
      {% endfor %}

   </div>
  </section>


	<!-- Articles
	================================================== -->
	{% assign news = site.categories.News %}
	
	{% for page in site.pages %}
		{% for pc in page.categories %} 
			{% if pc == 'News' %} 
				{% assign news = news | push:page %}
			{% endif %} 
		{% endfor %}
	{% endfor %}
	
	{% assign sorted_pages = news | sort: 'date' | reverse %}
	
	<section class="recent-articles">
	    <div class="section-title">
	        <h2><span>Recent Articles</span></h2>
	    </div>
	    
	    <div class="row listrecent">
		{% for post in sorted_pages %}
	    	{% include postbox.html %}
	    {% endfor %}
	
	    </div>
	</section>

</div>
