---
layout: default
title: Home
---

{% if page.url == "/" %}

<!-- Featured
================================================== -->
<section class="featured-articles">
    <div class="section-title">
        <h2><span>Start Here!</span></h2>
    </div>
    <div class="row">
	{% for post in site.pages %}
      	{% for pc in post.categories %}
      		{% if pc == 'Introduction' %}
    		    {% include postbox.html %}
    		{% endif %}
    	{% endfor %}
    {% endfor %}

    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">
    <div class="section-title">
        <h2><span>News</span></h2>
    </div>

    <div class="row listrecent">
        {% for post in site.posts %}
	        {% include postbox.html %}
        {% endfor %}
    </div>

</section>

<!-- Articles
================================================== -->
<section class="recent-articles">
    <div class="section-title">
        <h2><span>Recent Articles</span></h2>
    </div>
    <div class="row">
	{% for post in site.pages | sort: "date" %}
      	{% for pc in post.categories %}
      		{% if pc == 'Front' %}
   		   	 	{% include postbox.html %}
   		   	{% endif %}
    	{% endfor %}
    {% endfor %}

    </div>
</section>


