@font-face {
	font-family: "gothic-bold";
	src: url('geomanist-medium-webfont.ttf') format('ttf');
	font-weight: 400;
}

@font-face {
	font-family: "gothic";
	src: url('geomanist-regular-webfont.svg') format('svg');
}

@font-face {
	font-family: "gothic-light";
	src: url('geomanist-extralight-webfont.svg') format('svg');
	font-weight: 100;
}

@font-face {
	font-family: "gothic-italic";
	src: url('geomanist-regular-italic-webfont.svg') format('svg');
	font-style: italic;
}

@defs url(template.svg)

/*
 * Required so we can process old XML content
 */
renderingInformation,
fromDecoration,
toDecoration, 
position,
size,
allLinks {
	kite9-type: none;
}

/* Definitions of Kite9 Elements */

action {
	kite9-type: container;
	kite9-template: url(template.svg#action);
	kite9-sizing: minimize;
}

action.left {
	kite9-template: url(template.svg#action-left)	
}

artifact, 
users,
interface,
component,
channel-artifact,
internal-model-artifact,
protocol-artifact,
agent-artifact,
image-artifact {
	kite9-type: container;
	kite9-margin: 10pt;
	kite9-link-inset: 10pt;
	kite9-link-gutter: 10pt;
	kite9-type: container;
	kite9-layout: vertical;	
	kite9-template: url(template.svg#artifact);
	kite9-padding: 10pt; 
	kite9-connection-align: 50%;
	kite9-min-size: 110pt 140pt;	
}

image-artifact {
	kite9-template: url(template.svg#image-artifact);
}

agent-artifact {
	kite9-template: url(template.svg#agent-artifact);
}

users {
	kite9-template: url(template.svg#users);
}

interface {
	kite9-template: url(template.svg#interface);
}

internal-model-artifact {
	kite9-template: url(template.svg#internal-model-artifact);
}

channel-artifact {
	kite9-template: url(template.svg#channel-artifact);
}

component {
	kite9-template: url(template.svg#component);
}

protocol-artifact {
	kite9-template: url(template.svg#protocol-artifact);
}

mitigated {
	kite9-type: container;
	kite9-template: url(template.svg#mitigated);
}


hidden {
	kite9-type: container;
	kite9-template: url(template.svg#hidden);
}

risk {
	kite9-type: container;
	fill: black;
}

container {
	kite9-type: container;
	kite9-padding: 15pt;
	kite9-margin: 15pt;
	kite9-template: url(template.svg#container);
}

risk.mitigated {
	kite9-template: url(template.svg#mitigated);
}

risk.attendant {
	kite9-template: url(template.svg#attendant);
}

risk.hidden {
	kite9-template: url(template.svg#hidden);
}

risk.goal {
	kite9-template: url(template.svg#goal);
}

risk.invisibility {
	kite9-template: url(template.svg#invisibility);
}

risk.feature {
	kite9-template: url(template.svg#feature);
}

risk.communication {
	kite9-template: url(template.svg#communication);
}

risk.coordination {
	kite9-template: url(template.svg#coordination);
}

risk.complexity {
	kite9-template: url(template.svg#complexity);
}

risk.boundary {
	kite9-template: url(template.svg#boundary);
}

risk.agency {
	kite9-template: url(template.svg#agency);
}

risk.channel {
	kite9-template: url(template.svg#channel);
}

risk.protocol {
	kite9-template: url(template.svg#protocol);
}

risk.trust {
	kite9-template: url(template.svg#trust);
}

risk.learning-curve {
	kite9-template: url(template.svg#learning-curve);
}

risk.message {
	kite9-template: url(template.svg#message);
}

risk.internal-model {
	kite9-template: url(template.svg#internal-model);
}

risk.feature-fit {
	kite9-template: url(template.svg#feature-fit);
}

risk.implementation {
	kite9-template: url(template.svg#implementation);
}

risk.feature-drift {
	kite9-template: url(template.svg#feature-drift);
}

risk.feature-access {
	kite9-template: url(template.svg#feature-access);
}

risk.regression {
	kite9-template: url(template.svg#regression);
}

risk.market {
	kite9-template: url(template.svg#market);
}

risk.conceptual-integrity {
	kite9-template: url(template.svg#conceptual-integrity);
}

risk.codebase {
	kite9-template: url(template.svg#codebase);
}

risk.dependency {
	kite9-template: url(template.svg#dependency);
}

risk.dead-end {
	kite9-template: url(template.svg#dead-end);
}

risk.abstraction {
	kite9-template: url(template.svg#abstraction);
}

risk.reliability {
	kite9-template: url(template.svg#reliability);
}

risk.scarcity {
	kite9-template: url(template.svg#scarcity);
}

risk.operational {
	kite9-template: url(template.svg#operational);
}

risk.schedule {
	kite9-template: url(template.svg#schedule);
}

risk.opportunity {
	kite9-template: url(template.svg#opportunity);
}

risk.deadline {
	kite9-template: url(template.svg#deadline);
}

risk.funding {
	kite9-template: url(template.svg#funding);
}

risk.red-queen {
	kite9-template: url(template.svg#red-queen);
}

risk.staff {
	kite9-template: url(template.svg#staff);
}

risk.process {
	kite9-template: url(template.svg#process);
}

risk.credit {
	kite9-template: url(template.svg#credit);
}

risk.bureaucracy {
	kite9-template: url(template.svg#bureaucracy);
}

risk.map-and-territory {
	kite9-template: url(template.svg#map-and-territory);
}

risk.reputation {
	kite9-template: url(template.svg#reputation);
}

risk.software-dependency {
	kite9-template: url(template.svg#software-dependency);
}

risk.security {
	kite9-template: url(template.svg#security);
}

risk.methodology {
	kite9-template: url(template.svg#methodology);
}

big-image {
	kite9-margin: 10pt;
	kite9-link-inset: 10pt;
	kite9-link-gutter: 10pt;
	kite9-type: container;
	kite9-layout: vertical;	
	kite9-template: url(template.svg#big-image);
	kite9-padding: 10pt; 
	kite9-connection-align: 50%;
	kite9-min-size: 110pt 140pt;
}

risk-box {
	kite9-margin: 10pt;
	kite9-link-inset: 10pt;
	kite9-link-gutter: 10pt;
	kite9-type: container;
	kite9-layout: vertical;	
	kite9-template: url(template.svg#risk-box);
	kite9-padding: 10pt; 
	kite9-connection-align: 50%;
	kite9-min-size: 110pt 140pt;
}

risk {
	kite9-connection-align: 50%;
}

diagram {
	kite9-type: diagram;
	kite9-padding: 15pt;
	kite9-traversal: none;
	kite9-template: url(template.svg#diagram);
	background-color: white;
}

diagram.bg1 {
	kite9-template: url(template.svg#diagram-image) 'vecteezy-5.jpg';
}

diagram.bg2 {
	kite9-template: url(template.svg#diagram-image) 'vecteezy-1.jpg';
}

diagram.bg3 {
	kite9-template: url(template.svg#diagram-image) 'vecteezy-3.jpg';
}

image {
	kite9-type: container;
	kite9-horizontal-align: center;
	kite9-vertical-align: top;
	kite9-min-size: 50pt 50pt;
	kite9-margin: 10pt;	
}

image-content {
    kite9-type: svg;
 	kite9-usage: decal;
}

action code,
risk code {
	kite9-horizontal-align: center;
	kite9-vertical-align: top;
	kite9-type: container;
	kite9-sizing: minimize;
	kite9-template: url(template.svg#code);
	font-size: 22pt;
	kite9-margin: 10pt;
}

action code,
action title {
	kite9-type: text;
	kite9-horizontal-align: left;
}

title {
	kite9-type: container;
	kite9-sizing: minimize;
	kite9-layout: horizontal;
	kite9-template: url(template.svg#title);
	kite9-horizontal-align: center;
	kite9-vertical-align: bottom;

}

.risk-back {
	stroke: black;
	stroke-width: 1pt;
}

.code-label-front {
	stroke-width: 0;
	font-size: 19pt;
	font-family: "gothic";
	fill: black;
	text-align: middle;
}

.title-label-front {
	font-size: 12pt;
	font-family: "gothic";
	text-align: middle;
}

.action-label-front {
	font-size: 22pt;
	font-family: "gothic";
	text-align: middle;
	fill: black;
}

.action-code-label-front {
	stroke-width: 0;
	font-size: 22pt;
	font-family: "gothic-bold";
	fill: black;
	text-align: middle;
}


.container-back {
	stroke-width: 1pt; 
	fill:none;
	stroke: black;
}


/* Kite9 Element Stuff */

renderingInformation,
fromDecoration,
toDecoration, 
position,
size,
allLinks,
stereotype,
text-lines,
symbols,
hints {
	kite9-type: none;
}

context, 
diagram,
glyph,
arrow,
link {
	kite9-margin: 20pt;
	kite9-link-inset: 10pt;
	kite9-link-gutter: 10pt;
	kite9-padding: 30pt;
}

/* Glyphs */

glyph {
	kite9-type: container;
	kite9-layout: down;	
	kite9-template: url(template.svg#glyph);
	kite9-padding: 6pt 10pt 6pt 10pt; 
	kite9-margin: 10pt;
	kite9-connection-align: 50%;
	kite9-min-height: 30pt;
	kite9-sizing: minimize;
}

glyph.rect {
	kite9-template: url(template.svg#glyph-rect);
}

glyph.circle {
	kite9-template: url(template.svg#glyph-circle);
	kite9-min-size: 20pt 20pt;
}

diagram glyph label {
	kite9-type: container;
	kite9-sizing: minimize;
	kite9-template: url(template.svg#glyph-label-text);
	kite9-vertical-align: center;
	kite9-margin: 5pt;
	kite9-min-width: 60pt; 
	
}

.glyph-back {
	stroke-width: 1pt;
	stroke: black;
	fill: white;
}

.glyph-label-text {
	font-size: 12pt;
	fill: black;
	font-family: "gothic";
	stroke: none;
}

/* Links */

link {
	kite9-type: link;
	kite9-template: url(template.svg#link);
	kite9-link-minimum-length: 15pt;
	kite9-link-corner-radius: 10pt;
}

.link {
	stroke: black;
	stroke-width: 2pt;
	fill: none;
}

.grey-link {
	stroke: #666666;
	stroke-width: 1pt;
	fill: none;
}

link.invisible {
	kite9-template: url(template.svg#invisible-link);
}

link.dotted {
	kite9-template: url(template.svg#dotted-link);
}

link.thick {
	kite9-template: url(template.svg#thick-link);
}

link.grey {
	kite9-template: url(template.svg#grey-link);
}

from,
to {
	kite9-type: link-end;
	kite9-template: url(template.svg#empty-terminator);
	kite9-padding: 5pt; 
} 

from.arrow,
to.arrow {
	kite9-marker-start-reference: url(template.svg#arrow-start-marker);
	kite9-marker-end-reference: url(template.svg#arrow-end-marker);
	kite9-padding: 5pt 12pt 5pt 1pt;
	kite9-marker-reserve: 1pt;
}

from.circle,
to.circle {
	kite9-marker-start-reference: url(template.svg#circle-marker);
	kite9-marker-end-reference: url(template.svg#circle-marker);
}

.arrow-marker {
	stroke: black; 
	fill: none;
}

.circle-marker {
	fill: black;
	stroke: none;
}

/* Contexts */

context {
	kite9-template: url(template.svg#context);
	kite9-type: container;
	kite9-sizing: minimize;
	kite9-traversal: always;
	kite9-padding: 12pt;	
	kite9-link-inset: 12pt;
}

context.dotted {
	kite9-template: url(template.svg#context-dotted);
}

group {
	kite9-type: container;
	kite9-sizing: maximize;
	kite9-traversal: always;
}

.context-back {
	fill: none;
	stroke: black;
	stroke-width: 1pt;
}

.context-dotted {
	fill: none;
	stroke: black;
	stroke-width: 1pt;
	stroke-dasharray: 4pt 4pt;	
}

context > label,
group > label {
	kite9-usage: label;
	kite9-type: container; 
	kite9-sizing: minimize;
	kite9-template: url(template.svg#container-label);
	kite9-padding: 4pt;
	kite9-horizontal-align: center;
}

.container-label-front {
	stroke-width: 0;
	font-size: 11pt;
	font-family: "gothic";
	fill: black;
}

/* Arrow */
arrow {
	kite9-padding: 3pt 5pt 3pt 5pt; 
	kite9-type: container;
	kite9-sizing: minimize;
	kite9-template: url(template.svg#arrow);
	kite9-connections: separate;
	kite9-connection-align: 50%;
	kite9-link-inset: 4pt;
}


arrow > label {
	kite9-type: container;
	kite9-sizing: minimize;
	kite9-template: url(template.svg#arrow-label-text);
	kite9-horizontal-align: center;
	kite9-vertical-align: center;
	kite9-padding: 6pt;
}

arrow > label > contents {
	kite9-horizontal-align: center;
	kite9-vertical-align: center;
}

.arrow-label-text {
	fill: white;
	stroke: none;
	font-size: 14pt;
	font-family: "gothic-bold";
}

/* Stereotype */

glyph stereotype {
	kite9-type: container;
	kite9-template: url(template.svg#glyph-stereotype-text);
	kite9-horizontal-align: center;
	kite9-margin: 5pt; 
	kite9-sizing: maximize;
	text-align: middle;
}

.glyph-stereotype-text {
	font-family: "gothic-bold";
	font-size: 10pt;
	fill: black;
	stroke: none;
	kite9-padding: 2pt; 
}

/* Text Lines */

glyph text-lines {
	kite9-type: container;
	kite9-sizing: maximize;
	kite9-layout: vertical;
}

text-line {
	kite9-type: text;
	kite9-sizing: maximize;
	kite9-margin: 4pt;
	kite9-vertical-align: top;
	kite9-connection-align: 50%;
	kite9-horizontal-align: left;
	stroke: none;
	fill: black;
	font-family: "gothic";
	text-align: start;	
	font-size: 12pt;
}

/* tables */

table {
	kite9-layout: grid;
	kite9-type: container;
	kite9-template: url(template.svg#table);
}

celltext {
	kite9-usage: regular;
	kite9-type: container;
	kite9-template: url(template.svg#celltext);
	kite9-minimum-height: 250pt;
	kite9-padding: 10pt;
	kite9-vertical-align: center;
	kite9-horizontal-align: left;
	kite9-sizing: minimize;
	font-size: 40pt;
	fill: black;
	font-family: "gothic";
	stroke: none;
}

celltext text-label {
	kite9-horizontal-align: left;
}

bulleted {
	kite9-usage: regular;
	kite9-type: container;
	kite9-template: url(template.svg#bulleted);
	kite9-vertical-align: top;
	kite9-horizontal-align: left;	
	font-size: 40pt;
	fill: black;
	font-family: "gothic";
	stroke: none;
}

ctext {
	kite9-usage: regular;
	kite9-vertical-align: top;
	kite9-horizontal-align: left;	
	font-size: 40pt;
	fill: black;
	font-family: "gothic";
	stroke: none;
	kite9-type: text;
}

btext {
	kite9-usage: regular;
	kite9-vertical-align: top;
	kite9-horizontal-align: left;	
	font-size: 40pt;
	fill: black;
	font-family: "gothic-bold";
	stroke: none;
	kite9-type: text;
}
	
cell {
	kite9-usage: regular;
	kite9-type: container;
}

cell.shaded {
	kite9-template: url(template.svg#shaded);
}

cell.shaded-tab {
	kite9-template: url(template.svg#shaded-tab);
}


celltext.center, 
celltext.center text-label {
	kite9-horizontal-align: center;
}

celltext.bold {
	font-family: "gothic-bold";
	font-size: 36pt;
}

tick {
	kite9-usage: regular;
	kite9-type:  container;	
	kite9-template: url(template.svg#tick);
}

table risk,
table tick {
	kite9-horizontal-align: center;
	kite9-margin: 20pt;
}

table celltext.bottom {
	kite9-vertical-align: bottom;
}

table celltext.top {
	kite9-vertical-align: top;
}

/* Risk Descriptions */

description,
long-description,
.description {
	kite9-type: container;	
	kite9-template: url(template.svg#description);
	font-size: 14pt;
	font-family: "gothic-italic";
	font-style: italic;
	kite9-padding: 10pt;
}

long-description {
	kite9-template: url(template.svg#long-description);
}


/* Steve McConnell Stuff */

leg {
	kite9-type: container;
	kite9-template: url(template.svg#leg);
	kite9-layout: down;
	kite9-min-height: 110pt;
	kite9-min-width: 70pt;
	kite9-sizing: minimize;
	kite9-margin: 0px;
	kite9-vertical-align: bottom;
}


plinth {
	kite9-template: url(template.svg#plinth);
	kite9-type: container;
	kite9-sizing: maximize;
}

/* Risk Matrix */

symbol {
	kite9-type: svg;
	kite9-margin: 0 2pt 0 2pt;
	kite9-sizing: minimize;
	kite9-link-inset: 0px;
	kite9-template: url(template.svg#symbol);
}

symbol.decal {
	kite9-usage: decal;
	kite9-transform: none;
}

box {
	kite9-type: container;
	kite9-template: url(template.svg#box);
	kite9-sizing: maximize;
}

keyitem {
	kite9-type: container;
	kite9-layout: right;
}

keyitem > * {
	kite9-vertical-align: center;
}

keydesc {
	kite9-type: container;	
	kite9-template: url(template.svg#description);
	font-size: 12pt;
	font-family: "gothic";
	kite9-padding: 10pt;
}

toLabel, 
fromLabel {
	kite9-usage: label;
	kite9-type: container; 
	kite9-padding: 4px; 
	kite9-sizing: minimize;
	kite9-template: url(template.svg#connection-label);
	kite9-margin: 4px;	
}

card {
	kite9-usage: regular;
	kite9-type: container;
	kite9-min-size: 500px 700px;
	kite9-template: url(../cards/card-template.svg#card);
	kite9-padding: 15pt;
}

