.innerAside h2 {
font-weight: 800;
	font-family: Geomanist;
	font-size: 8rem;
	line-height: 1.1;
	text-align: center;
}

@media (max-width: 60rem) {
	.innerAside h2 {
		font-size: 4rem;
	}
}


.innerAside {
	background-image: url('data:image/svg+xml,<svg width="1200pt" height="1200pt" version="1.1" viewBox="0 0 1200 1200" xmlns="http://www.w3.org/2000/svg"><path fill="rgb(244, 61, 121)" d="m847.4 75.551c-123.85 0-202.03 60.277-247.4 114.78-45.371-54.504-123.54-114.78-247.44-114.78-210.9 0-352.56 195.38-352.56 377.83 0 265.62 510.21 621.61 568.39 661.32 9.5273 6.4922 20.566 9.7422 31.609 9.7422 11.039 0 22.078-3.2539 31.609-9.7422 58.176-39.707 568.39-395.7 568.39-661.32 0-182.46-141.68-377.83-352.6-377.83zm-247.43 924.5c-200.92-142.89-487.85-398.66-487.85-546.67 0-111.39 83.555-265.7 240.43-265.7 142.7 0 193.08 123.24 195.02 128.12 8.1953 21.648 28.945 35.809 52.094 36h0.39453c23.004 0 43.754-14.242 52.223-35.629 2.0625-5.2578 52.465-128.5 195.12-128.5 156.89 0 240.47 154.3 240.47 265.7-0.015625 147.84-286.97 403.67-487.91 546.67z"/></svg>');
	background-position: 0 0px;
	background-size: 60%;
	background-repeat: no-repeat;
	height: 25rem;
}


.innerAside p {
	font-size: 1.5rem;
	text-align: center;
}


div.callToAction {
	margin: 2rem auto;
	font-size: 2rem;
	text-align: center;
}
