@font-face {
	font-family: "gothic";
	src: url('GOTHIC.ttf') format('truetype');
}

@font-face {
	font-family: "gothic-bold";
	src: url('GOTHICB.ttf') format('truetype');
}

/*
 * Required so we can process old XML content
 */
renderingInformation,
fromDecoration,
toDecoration, 
position,
size,
allLinks {
	kite9-type: none;
}

/* Definitions of Kite9 Elements */

risk {
	kite9-type: container;
}

container {
	kite9-type: container;
	kite9-padding: 15pt;
	kite9-margin: 15pt;
	kite9-template: url(template.svg#container);
}

risk.invisibility {
	kite9-template: url(template.svg#invisibility);
}

risk.feature {
	kite9-template: url(template.svg#feature);
}

risk.communication {
	kite9-template: url(template.svg#communication);
}

risk.complexity {
	kite9-template: url(template.svg#complexity);
}

risk.boundary {
	kite9-template: url(template.svg#boundary);
}

risk.agency {
	kite9-template: url(template.svg#agency);
}

risk.morale {
	kite9-template: url(template.svg#morale);
}

risk.channel {
	kite9-template: url(template.svg#channel);
}

risk.protocol {
	kite9-template: url(template.svg#protocol);
}

risk.protocol-incompatibility {
	kite9-template: url(template.svg#protocol-incompatibility);
}

risk.protocol-implementation {
	kite9-template: url(template.svg#protocol-implementation);
}

risk.protocol-versioning {
	kite9-template: url(template.svg#protocol-versioning);
}

risk.model-assumption {
	kite9-template: url(template.svg#model-assumption);
}

risk.message-dependency {
	kite9-template: url(template.svg#message-dependency);
}

risk.misinterpretation {
	kite9-template: url(template.svg#misinterpretation);
}

risk.trust {
	kite9-template: url(template.svg#trust);
}

risk.belief {
	kite9-template: url(template.svg#belief);
}

risk.learning-curve {
	kite9-template: url(template.svg#learning-curve);
}

risk.message {
	kite9-template: url(template.svg#message);
}

risk.internal-model {
	kite9-template: url(template.svg#internal-model);
}

risk.fit {
	kite9-template: url(template.svg#fit);
}

risk.implementation {
	kite9-template: url(template.svg#implementation);
}

risk.feature-drift {
	kite9-template: url(template.svg#feature-drift);
}

risk.feature-access {
	kite9-template: url(template.svg#feature-access);
}

risk.regression {
	kite9-template: url(template.svg#regression);
}

risk.market {
	kite9-template: url(template.svg#market);
}

risk.conceptual-integrity {
	kite9-template: url(template.svg#conceptual-integrity);
}

risk.codebase {
	kite9-template: url(template.svg#codebase);
}

risk.dependency {
	kite9-template: url(template.svg#dependency);
}

risk.dead-end {
	kite9-template: url(template.svg#dead-end);
}

risk-box {
	kite9-margin: 10pt;
	kite9-link-inset: 10pt;
	kite9-link-gutter: 10pt;
	kite9-type: container;
	kite9-layout: vertical;	
	kite9-template: url(template.svg#risk-box);
	kite9-padding: 10pt; 
	kite9-connection-align: 50%;
	kite9-min-size: 110pt 140pt;
}

diagram {
	kite9-type: diagram;
	kite9-padding: 15pt;
	kite9-traversal: none;
	kite9-template: url(template.svg#diagram);
}

risk image {
	kite9-type: container;
	kite9-horizontal-align: center;
	kite9-vertical-align: top;
	kite9-min-size: 50pt 50pt;
	kite9-margin: 10pt;
	
}

image-content {
    kite9-type: svg;
 	kite9-usage: decal;
}

risk code {
	kite9-horizontal-align: center;
	kite9-vertical-align: top;
	kite9-type: container;
	kite9-sizing: minimize;
	kite9-template: url(template.svg#code);
	font-size: 22pt;
	kite9-margin: 10pt;
}

risk title {
	kite9-type: container;
	kite9-sizing: minimize;
	kite9-layout: horizontal;
	kite9-template: url(template.svg#title);
	kite9-horizontal-align: center;
	kite9-vertical-align: bottom;

}

.risk-back {
	stroke: black;
	stroke-width: 1pt;
}

.code-label-front {
	stroke-width: 0;
	font-size: 19pt;
	font-family: "gothic";
	fill: black;
	text-align: middle;
}

.title-label-front {
	font-size: 12pt;
	font-family: "gothic";
	text-align: middle;
}

.container-back {
	stroke-width: 1pt; 
	fill:none;
	stroke: black;
}


/* Kite9 Element Stuff */

renderingInformation,
fromDecoration,
toDecoration, 
position,
size,
allLinks,
stereotype,
text-lines,
symbols,
hints {
	kite9-type: none;
}

context, 
diagram,
glyph,
arrow,
link {
	kite9-margin: 20pt;
	kite9-link-inset: 10pt;
	kite9-link-gutter: 10pt;
	kite9-padding: 30pt;
}

/* Glyphs */

glyph {
	kite9-type: container;
	kite9-layout: down;	
	kite9-template: url(template.svg#glyph);
	kite9-padding: 6pt 10pt 6pt 10pt; 
	kite9-margin: 10pt;
	kite9-connection-align: 50%;
	kite9-min-height: 30pt;
}

diagram glyph label {
	kite9-type: container;
	kite9-sizing: minimize;
	kite9-template: url(template.svg#glyph-label-text);
	kite9-vertical-align: center;
	kite9-margin: 5pt 
}

.glyph-back {
	stroke-width: 1pt;
	stroke: black;
	fill: white;
}

.glyph-label-text {
	font-size: 12pt;
	fill: black;
	font-family: "gothic";
	stroke: none;
}

/* Links */

link {
	kite9-type: link;
	kite9-template: url(template.svg#link);
	kite9-link-minimum-length: 15pt;
	kite9-link-corner-radius: 10pt;
}

.link {
	stroke: black;
	stroke-width: 2pt;
	fill: none;
}

link.invisible {
	kite9-template: url(template.svg#invisible-link);
}

from,
to {
	kite9-type: link-end;
	kite9-template: url(template.svg#empty-terminator);
	kite9-padding: 5pt; 
} 

from.arrow,
to.arrow {
	kite9-marker-start-reference: url(template.svg#arrow-start-marker);
	kite9-marker-end-reference: url(template.svg#arrow-end-marker);
	kite9-padding: 5pt 12pt 5pt 1pt;
	kite9-marker-reserve: 1pt;
}

from.circle,
to.circle {
	kite9-marker-start-reference: url(template.svg#circle-marker);
	kite9-marker-end-reference: url(template.svg#circle-marker);
}

.arrow-marker {
	stroke: black; 
	fill: none;
}

.circle-marker {
	fill: black;
	stroke: none;
}

/* Contexts */

context {
	kite9-template: url(template.svg#context);
	kite9-type: container;
	kite9-sizing: maximize;
	kite9-traversal: always;
	kite9-padding: 12px;	
	kite9-link-inset: 12px;
}

.context-back {
	fill: none;
	stroke: black;
	stroke-width: 1pt;
}

context > label {
	kite9-usage: label;
	kite9-type: container; 
	kite9-sizing: minimize;
	kite9-template: url(template.svg#container-label);
	kite9-padding: 4pt;
}

.container-label-front {
	stroke-width: 0;
	font-size: 11pt;
	font-family: "gothic";
	fill: black;
}

/* Arrow */
arrow {
	kite9-padding: 3pt 5pt 3pt 5pt; 
	kite9-type: container;
	kite9-sizing: minimize;
	kite9-template: url(template.svg#arrow);
	kite9-connections: separate;
	kite9-connection-align: 50%;
	kite9-link-inset: 4pt;
}


arrow > label {
	kite9-type: container;
	kite9-sizing: minimize;
	kite9-template: url(template.svg#arrow-label-text);
	kite9-horizontal-align: center;
	kite9-vertical-align: center;
}

arrow > label > contents {
	kite9-horizontal-align: center;
	kite9-vertical-align: center;
}

.arrow-label-text {
	fill: white;
	stroke: none;
	font-size: 10pt;
	font-family: "gothic";
}

/* Stereotype */

glyph stereotype {
	kite9-type: container;
	kite9-template: url(template.svg#glyph-stereotype-text);
	kite9-vertical-align: bottom;
	kite9-horizontal-align: center;
	kite9-margin: 5pt; 
	kite9-sizing: maximize;
	text-align: middle;
}

.glyph-stereotype-text {
	font-family: "gothic-bold";
	font-size: 12pt;
	fill: black;
	stroke: none;
	kite9-padding: 2pt; 
}

/* Text Lines */

glyph text-lines {
	kite9-type: container;
	kite9-sizing: maximize;
	kite9-layout: vertical;
}

text-line {
	kite9-type: text;
	kite9-sizing: maximize;
	kite9-padding-top: 2px;
	kite9-padding-bottom: 2px;
	kite9-padding-left: 0px;
	kite9-padding-right: 0px;
	kite9-margin: 0 0 0 0; 
	kite9-vertical-align: top;
	kite9-connection-align: 50%;
	kite9-horizontal-align: left;
	kite9-template: url(template.svg#generic-text);
}
