@font-face {
	font-family: "opensans-light-webfont";
	src: url('../../../../fonts/opensans-light-webfont.ttf') format('truetype');
}

@font-face {
	font-family: "opensans-bold-webfont";
	src: url('../../../../fonts/opensans-bold-webfont.ttf') format('truetype');
}

@font-face {
	font-family: "gothic";
	src: url('GOTHIC.ttf') format('truetype');
}

/*
 * Required so we can process old XML content
 */
renderingInformation,
fromDecoration,
toDecoration, 
position,
size,
allLinks {
	kite9-type: none;
}

/* Definitions of Kite9 Elements */

risk {
	kite9-type: container;
}

risk.invisibility {
	kite9-template: url(template.svg#invisibility);
}

risk.feature {
	kite9-template: url(template.svg#feature);
}

risk.communication {
	kite9-template: url(template.svg#communication);
}

risk.complexity {
	kite9-template: url(template.svg#complexity);
}

risk.boundary {
	kite9-template: url(template.svg#boundary);
}

risk.agency {
	kite9-template: url(template.svg#agency);
}

risk.morale {
	kite9-template: url(template.svg#morale);
}

risk-box {
	kite9-margin: 10px;
	kite9-link-inset: 10px;
	kite9-link-gutter: 10px;
	kite9-type: container;
	kite9-layout: vertical;	
	kite9-template: url(template.svg#risk-box);
	kite9-padding: 6px 6px 6px 6px; 
	kite9-connection-align: 50%;
}

diagram {
	kite9-type: diagram;
	kite9-padding: 15px;
	kite9-traversal: none;
	kite9-template: url(template.svg#diagram);
}

risk image {
	kite9-type: container;
	kite9-horizontal-align: center;
	kite9-padding: 25px;
	kite9-margin: 4px;
}

image-content {
    kite9-type: svg;
 	kite9-usage: decal;
}

risk code {
	kite9-type: container;
	kite9-sizing: minimize;
	kite9-template: url(template.svg#code);
}

risk title {
	kite9-type: container;
	kite9-sizing: minimize;
	kite9-layout: horizontal;
	kite9-template: url(template.svg#title);
	kite9-horizontal-align: center;
}

.risk-back {
	stroke: black;
	stroke-width: 1px;
}

.code-label-front {
	stroke-width: 0;
	font-size: 16px;
	font-family: "gothic";
	fill: black;
}

.title-label-front {
	font-size: 10px;
	font-family: "gothic";
	text-align: middle;
}


