.cta {
	background: #00000044;
	border: 1px solid #777;
	border-radius: .5rem;
	color: white;
	display: inline-block;
	font-size: 1rem;
	line-height: 1.2em;
	margin: 1rem;
	padding: 1rem;
	text-decoration: none !important;
	transition: background .3s, color .3s;
	width: 15rem;
}

.innerAside {
	background-image: url('data:image/svg+xml,<svg width="1200pt" height="1200pt" version="1.1" viewBox="0 0 1200 1200" xmlns="http://www.w3.org/2000/svg"><path fill="white" d="m1017.1 326.76c-122.16-44.039-243.24-90.84-366.6-131.28-29.398-9.6016-69.84-7.8008-97.801 5.0391-115.92 53.281-229.08 112.44-343.08 169.92-48.121 24.359-95.641 49.68-151.56 78.84 175.92 83.16 340.68 161.88 506.16 238.68 70.68 32.879 112.44 86.52 115.92 162.96 1.4414 32.039-7.3203 77.16-28.922 93.719-19.922 15.359-67.441 9.8398-95.281-2.8789-122.16-55.559-240.36-119.88-362.64-175.08-59.16-26.641-97.922-57-80.762-113.28-13.922 21.602-34.441 53.641-59.039 91.922 173.28 85.801 351.36 175.68 531.6 260.88 20.398 9.6016 60.719 2.1602 79.078-12.84 144.72-118.8 291.72-235.68 426.96-364.8 100.92-96.242 55.805-255-74.035-301.8zm-463.44 241.08-260.4-104.4 86.398-50.398 260.4 100.8z"/><path d="m610.32 872.28c-2.8789 0-5.8789-0.60156-8.7617-1.9219l-439.2-201.6c-10.559-4.8008-15.121-17.281-10.32-27.84 4.8008-10.559 17.281-15.121 27.84-10.32l439.2 201.6c10.559 4.8008 15.121 17.281 10.32 27.84-3.4766 7.6797-11.16 12.242-19.078 12.242z" fill="white"/></svg>');
	background-position: 0 0px;
	background-size: 60%;
	background-repeat: no-repeat;
	height: 25rem;
}

html[data-theme=dark] .innerAside {
	background-image: url('data:image/svg+xml,<svg width="1200pt" height="1200pt" version="1.1" viewBox="0 0 1200 1200" xmlns="http://www.w3.org/2000/svg"><path fill="black" d="m1017.1 326.76c-122.16-44.039-243.24-90.84-366.6-131.28-29.398-9.6016-69.84-7.8008-97.801 5.0391-115.92 53.281-229.08 112.44-343.08 169.92-48.121 24.359-95.641 49.68-151.56 78.84 175.92 83.16 340.68 161.88 506.16 238.68 70.68 32.879 112.44 86.52 115.92 162.96 1.4414 32.039-7.3203 77.16-28.922 93.719-19.922 15.359-67.441 9.8398-95.281-2.8789-122.16-55.559-240.36-119.88-362.64-175.08-59.16-26.641-97.922-57-80.762-113.28-13.922 21.602-34.441 53.641-59.039 91.922 173.28 85.801 351.36 175.68 531.6 260.88 20.398 9.6016 60.719 2.1602 79.078-12.84 144.72-118.8 291.72-235.68 426.96-364.8 100.92-96.242 55.805-255-74.035-301.8zm-463.44 241.08-260.4-104.4 86.398-50.398 260.4 100.8z"/><path d="m610.32 872.28c-2.8789 0-5.8789-0.60156-8.7617-1.9219l-439.2-201.6c-10.559-4.8008-15.121-17.281-10.32-27.84 4.8008-10.559 17.281-15.121 27.84-10.32l439.2 201.6c10.559 4.8008 15.121 17.281 10.32 27.84-3.4766 7.6797-11.16 12.242-19.078 12.242z" fill="black"/></svg>');
}

.innerAside h2 {
	font-weight: 800;
	font-family: Geomanist;
	font-size: 8rem;
	line-height: 1.1;
	overflow: hidden;
}

@media (max-width: 60rem) {
	.innerAside h2 {
		font-size: 4rem;
	}
}

html[data-theme=dark] .innerAside {
	color: white;
}