.columns {
	display: flex;
	padding-bottom: 1rem;
	align-items: center;
	gap: 1rem;
}

.left {
	flex-basis: 5rem;
	flex-shrink: 0;
	border-radius: 2.5rem;
	height: 5rem;
	padding: .5rem;
	margin: 0;
}

.left img {
	padding: 0;
	margin: 0;
}


html[data-theme=dark] .left {
	background: #fff;
}



.right {
	flex-grow: 1;
}