/* Base skin (white)
   ========================================================================== */

body {
  background: #FFF;
  color: #333;
}

h1, h2, h3, h4 {
  color: #000;
}

.slide--bordered {
  border-bottom: 1px solid #CCC;
}

.slide-image img {
  border: 1px solid rgba(0,0,0,0.1);
}

/*
  Extras for slideshow output
  @TODO: Only render this when choosing slideshow option
*/

#show-shortcuts {
  opacity: 0.5;
  color: rgba(0,0,0,0.5);
  font-size: 13px;
}

#shortcuts {
  color: #FFF;
  background: rgba(0,0,0,0.6);
}

#explicit-controls button {
  background: #EEE;
  border: 1px solid rgba(0,0,0,0.2);
}