@font-face {
    font-family: 'geomanist';
    src: url('geomanist-regular-webfont.eot');
    src: url('geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('geomanist-regular-webfont.woff2') format('woff2'),
         url('geomanist-regular-webfont.woff') format('woff'),
         url('geomanist-regular-webfont.ttf') format('truetype'),
         url('geomanist-regular-webfont.svg#geomanistregular') format('svg');
    font-weight: 400;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'geomanist';
    src: url('geomanist-regular-italic-webfont.eot');
    src: url('geomanist-regular-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('geomanist-regular-italic-webfont.woff2') format('woff2'),
         url('geomanist-regular-italic-webfont.woff') format('woff'),
         url('geomanist-regular-italic-webfont.ttf') format('truetype'),
         url('geomanist-regular-italic-webfont.svg#geomanistitalic') format('svg');
    font-weight: 400;
    font-style: italic;
	font-display: swap;
}

@font-face {
    font-family: 'geomanist';
    src: url('geomanist-bold-webfont.eot');
    src: url('geomanist-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('geomanist-bold-webfont.woff2') format('woff2'),
         url('geomanist-bold-webfont.woff') format('woff'),
         url('geomanist-bold-webfont.ttf') format('truetype'),
         url('geomanist-bold-webfont.svg#geomanistbold') format('svg');
    font-weight: 700;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'geomanist';
    src: url('geomanist-medium-webfont.eot');
    src: url('geomanist-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('geomanist-medium-webfont.woff2') format('woff2'),
         url('geomanist-medium-webfont.woff') format('woff'),
         url('geomanist-medium-webfont.ttf') format('truetype'),
         url('geomanist-medium-webfont.svg#geomanistmedium') format('svg');
    font-weight: 600;
    font-style: normal;
	font-display: swap;
}