/* Base - Layout
   ========================================================================== */

html, body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  padding: 5%;
  max-width: 1400px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

/* Base - Type
   ========================================================================== */

body {
  font-family: sans-serif;
  line-height: 1.33;
}

@media (min-width: 800px) {

  html {
    font-size: 120%;
  }

}