--- 
title: "Categories" 
layout: default 
permalink: "/categories.html" 
---

<div class="row listrecent">
	{% for category in site.category_list %}
		
		{%if category == page.category || page.category == null %}
	
			<div class="section-title col-md-12 mt-4">
				<h2 id="{{ category[0] | replace: "","-" }}">
					Category: <span class="text-capitalize">{{ category }}</span>
				</h2>
			</div>
		
			{% for post in site.pages %} 
				{% for pc in post.categories %} 
					{% if pc == category %} 
						{% include postbox.html %} 
					{% endif %} 
				{% endfor %}
			{% endfor %}
		{% endif %}
	{% endfor %}
	
</div>