---
layout: default
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->
<div class="container">
    <div class="row">

        <!-- Post Share -->
        <div class="col-md-2 pl-0">
            {% include share.html %}
        </div>

        <!-- Post -->
        {% assign author = site.authors[page.author] %}

        <div class="col-md-9 flex-first flex-md-unordered">

            <!-- Post Content -->
            <div class="article-post">
                <!-- Toc if any -->
                {% if page.toc %}
                    {% if page.beforetoc %}
                        <p><em>{{page.beforetoc}}</em></p>
                    {% endif %}
                    <div class="toc mt-4 mb-4 lead">
                        <h3 class="font-weight-bold">Summary</h3>
                        {% include toc.html html=content %}
                    </div>
                {% endif %}
                <!-- End Toc -->
                {{content}}
            </div>
            
      

            <p>
            <i>
            <a href="https://github.com/risk-first/website/stargazers">Add Your Star <i class="fas fa-star"></i> On GitHub</a> to receive an invite to the GitHub Risk-First GitHub team for new article notifications and discussion.
            </i>
            </p>

          <!-- Post Date -->
          {% if post.date %}
          <p>
              <small>
              <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
              {% if page.last_modified_at %}
              (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
              {% endif %}
              </small>
          </p>
          {% endif %}

          <!-- Post Tags -->
          <div class="after-post-tags">
              <ul class="tags">
              	{% if page.tags %}
                    {% assign sortedTags = page.tags | sort %}
                    {% for tag in sortedTags %}
                    <li>
                        <a class="smoothscroll" href="{{site.baseurl}}/tags#{{ tag | replace: " ","-" }}">#{{ tag }}</a>
                    </li>
                    {% endfor %}
                {% endif %}
              </ul>
          </div>
          <!-- End Tags -->
          <!-- Prev/Next -->
            
          {% assign matchcat = page.categories[0] %} 
	        {% assign prevno = page.order | minus: 1 %}
            {% assign nextno = page.order | plus: 1 %}
            {% for page in site.pages %}
            	{% if page.categories contains matchcat %}
            		{% if page.order == prevno %}
            			{% assign previous = page %}
            		{% endif %}
            		{% if page.order == nextno %}
            			{% assign next = page %}
            		{% endif %}
            	{% endif %}
            {% endfor %}
                   
            <div class="row PageNavigation d-flex justify-content-between font-weight-bold">
            {% if previous %}
            <a class="prev d-block col-md-6" href="{{ site.baseurl }}{{previous.url}}"> &laquo; {{previous.title}}</a>
            {% endif %}
            {% if next %}
            <a class="next d-block col-md-6 text-lg-right" href="{{ site.baseurl }}{{next.url}}">{{next.title}} &raquo; </a>
            {% endif %}
            <div class="clearfix"></div>
            </div>
            <!-- End Categories -->
            
            <div class="mainheading">
    
              <!-- Author Box -->
              {% if page.author %}
              <div class="row post-top-meta">
                  <div class="col-xs-12 col-md-3 col-lg-2 text-center text-md-left mb-4 mb-md-0">
                      {% if author.avatar %}
                      <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.display_name }}">
                      {% else %}
                      <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
                      {% endif %}
                  </div>
                  <div class="col-xs-12 col-md-9 col-lg-10 text-center text-md-left">
                      <a target="_blank" class="link-dark" href="{{ author.web }}">{{ author.display_name }}</a><a target="_blank" href="{{ author.twitter | replace: "@", "https://twitter.com/" }}" class="btn follow">Follow</a>
                      <span class="author-description">{{ author.description }}</span>
                  </div>
              </div>
              {% endif %}
    
            </div>


        </div>
        <!-- End Post -->

    </div>
</div>
<!-- End Article
================================================== -->

