section.homeSection, 
section.homeSectionAlt {
	margin-top: 5rem;
	padding-top: 5rem;
	padding-bottom: 5rem;
	clip-path: polygon(0 3rem, 100% 0, 100% 100%, 0 calc(100% - 3rem));
	overflow: hidden;
}

section.homeSectionAlt {
	background-color: #ace;
	color: black;
}


.title {
	margin: auto;
	max-width: 1200px;
}

div.innerFlex {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	max-width: 1200px;
	margin: auto;
	font-size: 1.5rem;
}


div.item {
	padding: 20px;
}

div.footerImage {
	width: 3rem;
	margin: auto;
}

div.callToAction {
	margin: 2rem auto;
	font-size: 2rem;
	text-align: center;
}

div.main {
	margin: auto;
}